*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
.logo{
    color: aliceblue;
    cursor: context-menu;
    font-family: Poppins;
    font-size: 250%;
    letter-spacing: 15px;
    text-shadow: rgba(32, 138, 187, 0.527) 3px 3px 3px;
    object-fit: cover;
}
nav{  
    position: fixed;
    z-index: 1;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: rgba(1, 15, 29, 0.877);
    background-position: 100%;
    align-items: center;
    border-style: groove;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-color: rgba(0, 47, 255, 0.815);
    border-width: 2px;
    box-shadow: rgba(17, 107, 190, 0.452) 3px 3px 3px;
}
nav ul{
    display: flex;
    justify-content: space-around;
    width: 25%;
    object-fit: cover;
}
nav li{
    list-style-type: none;
    object-fit: cover;
    font-size: larger;    
}
nav ul li a{
    text-decoration: none;
    color: aliceblue;
    object-fit: cover;
}
nav ul li a:hover{
    text-decoration: underline;
    color: rgba(87, 201, 253, 0.918);
    text-shadow: rgba(245, 222, 179, 0.466) 3px 3px 3px;
}
body{
    background-image: url("./views/23964.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: round;
}
.gallery{
    float: left;
    padding-left: 60px;
    display: grid;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;   
    overflow: hidden;
}
.container{
    overflow: visible;
    border-style: none;
}
.container img{
    width: 80%;
    height: 80%;
    object-fit: cover;
    cursor: context-menu;
    border-color: rgba(240, 248, 255, 0.342);
    border-style: double;
    border-width: 3px;
    border-radius: 20px;
    box-shadow: rgba(17, 107, 190, 0.452) 3px 1px 3px;
    transition: all 0.2s ease-in-out;
}
.container img:hover{
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: rgba(97, 168, 250, 0.623) 3px 3px 3px;
}

.container h3{
    cursor: context-menu;
    object-fit: cover;
    font-family: Poppins;
    font-size: 13px;
    text-align: center;
    letter-spacing: 3px;
    border-radius: 10px;
    width: 80%;
    background-color: rgba(2, 19, 29, 0.685);
    color: aliceblue;
    border-style: double;
    border-width: 3px;
    border-color: rgba(240, 248, 255, 0.342);
    box-shadow: rgba(17, 107, 190, 0.452) 3px 1px 3px;
}
.popup{
    background:rgba(0, 5, 20, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    object-fit: scale-down;
    z-index: 2;
}
.popup.open{
    opacity: 1;
    pointer-events: all;
}
/*
.closebtn{
    color: white;
    font-size: xx-large;
    margin-top: 2%;
    margin-right: 10%;
    float: right;
    background-size: contain;
    background-attachment: fixed;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0;
}
.closebtn.open{
    opacity: 1;
}
.closebtn:hover{
    color: brown;
}
*/
.expand-img{
    position: absolute;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    transition: all 0.2s ease-in-out;
    object-fit: cover;
}
.expand-img.open{
    transform: translate(-50%, -50%) scale(0.9);
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #1b1b1b;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(14, 51, 153, 0.801);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(25, 81, 165, 0.788);
  }
  .filterInput{
    position: relative;
    background-color: #010d1ac4;
    width: 27%;
    height: 5vh;
    margin-top: 7%;
    margin-left: 38%;
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(17, 107, 190, 0.452) 3px 2px 2px;
    border-style: double;
    border-color: rgba(69, 115, 241, 0.952);
    border-width: 2px;
    color: aliceblue;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;    
  }
  .filterInput:hover{
    transition: all 0.2s;
    transform: scale(1.2);
  }
  .filterInput::placeholder{
      color: rgba(240, 248, 255, 0.753);
  }
  .filterInput:focus{
      outline-style: none;
  }
@media(max-width: 1250px){
    .filterInput{
        margin-top: 100px;
        transition: all 0.2s;
    }
}
@media(max-width: 1000px){
    .gallery{
        grid-template-columns: repeat(3, 1fr);
    }
    .filterInput{
        margin-top: 100px;
        padding-left: 20px;
        padding-right: 20px;
        width: 27%;
        font-size: 12px;
        transition: all 0.2s ease-out;
    }
}
@media(max-width: 850px){
    .gallery{
        grid-template-columns: repeat(3, 1fr);
        transition: all 0.2s;
    }
    .container h3{
        font-size: 11px;
        transition: all 0.2s ease-out;
    }
    .logo{
        transform: scale(0.9);
        transition: all 0.2s ease out;
    }

}
@media(max-width: 692px){
    .logo{
        transform: scale(0.8);
        transition: all 0.2s ease-out;
    }
    nav ul{
        font-size: small;
        width: 25%;
        transition: all 0.2s ease-out;
    }

}
@media(max-width: 650px){
    nav ul{
        font-size: smaller;
        width: 30%;
        transition: all 0.2s ease-out;
    }
    .logo{
        transform: scale(0.7);
        transition: all 0.2s ease-out;
        letter-spacing: 10px;
    }
    .gallery{
        grid-template-columns: repeat(2, 1fr);
        transition: all 0.2s;
    }

}
@media(max-width: 627px){
    .logo{
        transform: scale(0.6);
        transition: all 0.2s ease-out;
        letter-spacing: 5px;
    }
    .filterInput{
        padding-left: 20px;
        padding-right: 20px;
        width: 30%;
        transition: all 0.2s ease-out;
    }
    .container h3{
        font-size: 10px;
        transition: all 0.2s ease-out;
    }

}